
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(@cocktail.photo) %>">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
    <p>Smooth and fresh</p>
    <!-- <a class="btn btn-primary" href="#">Apply now</a> -->


  </div>
</div>




<div class="container mt-3">


  <br>

  <table class="table table-hover">
    <th>Ingredient</th>
    <th>Amount</th>
    <th>Desc</th>
    <% @cocktail.doses.each do |dose| %>
      <tr>
        <td> <%= dose.ingredient.name %> </td>
        <td> <%= dose.amount %> </td>
        <td> <%= dose.description %> </td>
        <td> <%= link_to "Edit", edit_cocktail_dose_path(@cocktail, dose) %> </td>
        <td> <%= link_to "Delete", dose_path(dose), method: :delete %> </td>
      </tr>
    <% end %>

  </table>

  <br>



  <p><%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
  <%= link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete, class: "btn btn-danger" %></p>

<!--   <p> <%= link_to "Back to list of cocktails", cocktails_path, class: "btn btn-primary" %> </p> -->
</div>
